@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
	opacity: 1;
}

.dropdown-item {
	opacity: 0;
	visibility: hidden;
}

.dropdown:hover .dropdown-item {
	opacity: 1;
	visibility: visible;
}
