@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	section {
		@apply w-full bg-white px-6 py-[70px] sm:px-8 mdd:px-12;
	}
}

button.disabled {
	opacity: 0.5;
}

.active {
	opacity: 1;
}

.hero-bg-img {
	background-image: url("./assets/blackbg2.png");
	background-size: cover;
	background-position: center;
}

.achievements-bg-img {
	background-image: url("./assets/phone-call-networking-and-mockup-with-an-asian-wo-GMEVR65-1024x683.jpg");
	background-size: cover;
	background-position: center;
}

.howitworks-bg-img {
	background-image: url("./assets/side-view-of-asian-millennial-girl-in-headphones-v-SQ3PSL2-1024x683.jpg");
	background-size: cover;
	background-position: center;
}

.logo-slide {
	display: inline-block;
	animation: 30s slide infinite linear;
}

.logo-slide:hover {
	animation-play-state: paused;
}

@keyframes slide {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

.border-rounded {
	border: 0.6px black solid;
	border-radius: 8px;
}

.blog-paragraph p,
.blog-paragraph ul {
  font-size: 15px;
  line-height: 27px;
  color: rgb(122, 122, 122);
  font-weight: normal;
  margin-block: 14px;
  font-family: "DM Sans", "san-serif"
}

.blog-paragraph h2 {
	font-family: "Space Grotesk", "sans-serif";
	color: black;
	font-weight: 500;
}

.marker-disc {
  background-color: black;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 1rem; /* Adjust as needed */
}


